backports.tarfile==1.2.0
importlib-metadata==8.0.0
ipykernel==7.1.0
jaraco.collections==5.1.0
maikol-utils==0.8.0
pandas==2.3.3
pillow==12.1.0
pip-chill==1.0.3
plotly==6.5.0
statx==0.0.2
tomli==2.0.1
tqdm==4.67.1
uv==0.9.15
